<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>576113086001-g51fibrsm0ga6vpn7jm5u430r1jbgd9f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.576113086001-g51fibrsm0ga6vpn7jm5u430r1jbgd9f</string>
	<key>API_KEY</key>
	<string>AIzaSyChhmeG3T9C76w7ul0Z5JW8GcsYht8a5v8</string>
	<key>GCM_SENDER_ID</key>
	<string>576113086001</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Max.ChatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-963fa</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-963fa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:576113086001:ios:af51c630531d9792eecf10</string>
</dict>
</plist>